* {
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: azure;
}

/*header*/

.tamLogo {
    width: 100px;
    cursor: pointer;
}

.mainLogo {
    background-color: black;
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
}

header {
    display: flex;
    justify-content: end;
    border-bottom: solid 3px rgb(206, 206, 206);
    background-color: rgba(150, 150, 150, 0.74);
}



/*Inicio*/

/*carousel*/

.imgcaTam {
    display: grid;
    height: 600px;
    object-fit: cover;
}

/*cards index*/

.card {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: azure;
    box-shadow: 2px 2px 10px;
}

.colorBtn {
    display: grid;
    justify-content: center;
    background-color: rgb(201, 201, 201);

}

.colorBtn:hover {
    background-color: rgb(151, 151, 151);
    font-weight: bolder;
    box-shadow: 1px 1px 4px;
}


/*EVENTOS*/




/*Productos y servicios*/


.tituloEnc {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 4rem;
    background-color: rgb(170, 170, 170);
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.imgProd:hover {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 8px 8px 40px;

}



/*¿Quienes somos?*/


.titulo {
    color: aliceblue;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.856);
    justify-self: center;
    font-size: 50px;
    grid-area: titulo;
}

.imgQuienes {
    grid-area: imagenA;
    width: 500px;
}

.subTituloA {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 2rem;
    justify-self: center;
    align-self: center;
    grid-area: subtitulo;
}

.contA {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.856);
    justify-self: center;
    grid-area: contenidoA;
}


/*vista pc*/

@media (min-width: 994px) {

    .quienesSomos {
        display: grid;
        grid-template-areas:
            "titulo  titulo"
            "imagenA subtitulo"
            "imagenA contenidoA"
        ;
        background-image: url("../img/logo-givree2.png");
    }
}

@media (min-width: 993px) and (max-width: 1037px) {
    .contA {
        font-size: 18px;
    }
}

/*vista tablet*/
@media (min-width: 576px) and (max-width: 992px) {
    .quienesSomos {
        display: grid;
        grid-template-areas:
            "titulo  titulo"
            "subtitulo subtitulo"
            "imagenA contenidoA"
            "imagenA contenidoA"
        ;
        background-color: black;
        gap: 5px;
    }

    .imgQuienes {

        width: 300px;
        height: 500px;
    }

}

@media (min-width: 576px) and (max-width: 761px) {
    .quienesSomos {
        display: grid;
        grid-template-areas:
            "titulo  titulo"
            "subtitulo subtitulo"
            "imagenA contenidoA"
            "imagenA contenidoA"
        ;
        background-color: black;
        gap: 5px;
    }

    .imgQuienes {

        width: 200px;
        height: 500px;
    }

    .contA {
        font-size: 18px;
    }


}


/*vista telefono*/
@media (max-width: 575px) {

    .quienesSomos {
        display: grid;

        grid-template-areas:
            "titulo"
            "subtitulo"
            "contenidoA"
            "contenidoA"
        ;
        background-image: url("../img/quienes-somos.jpg");
        gap: 5px;

    }

    .imgQuienes {
        display: none;
    }

    .titulo {
        background-color: rgba(0, 0, 0, 0.466);
        font-size: 40px;
    }

    .subTituloA {
        background-color: rgba(0, 0, 0, 0.466);
        font-size: 30px;

    }

    .contA {
        background-color: rgba(0, 0, 0, 0.466);
        font-size: 18px;
    }
}


/*CONTACTO*/

.cuadroCont {
    background-color: rgb(0, 0, 0);
}

.contFuente{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.712);
}

.mainCont{
    display: flex;
    background-image: url("../img/logo-givree2.png");
}


/*footer*/

.footFont {
    font-size: 15px;
}

.footFont:hover {
    font-size: 17px;
    color: rgb(99, 99, 99);
    background-color: rgb(235, 247, 247);
}


























