/*CONTACTO*/

.cuadroCont {
    background-color: $black;
}

.contFuente{
    color: $mainColor;
    background-color: rgba(0, 0, 0, 0.712);
}

.mainCont{
    display: flex;
    background-image: url("../img/logo-givree2.png");
}