//variables

$mainFont: 'Quicksand', sans-serif;
$mainColor: aliceblue;
$secondaryColor: rgba(150, 150, 150, 0.74);
$white: rgb(241, 241, 241);
$black: rgb(24, 23, 23);

//tamaño fuente
$textSm: 18px;
$textMd: 25px;
$textLg: 38px;
